<ion-view title="Dashboard">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <section class="section">
        <div class="wrapper_section">
          <header class="header_section clearfix">
            <div class="two_columns">
              <select class="select" name="select">
                <option selected value="volvo">Order by</option>
                <option value="volvo">A</option>
                <option value="saab">B</option>
                <option value="opel">C</option>
                <option value="audi">D</option>
              </select>
            </div>
            <div class="two_columns">
              <a class="list_view" href="#"></a>
            </div>
          </header>
          <ul class="callout_items clearfix">
            <li class="four_columns grid_item clearfix" ng-repeat="tradeItem in trades">
              <a class="image" href="#/app/trade/{{tradeItem.idTrade}}"><img class="image" src="{{tradeItem.img}}"></a>
              <div class="data">
                <p class="left">{{tradeItem.crossreference}}</p>
                <p class="right">ENTRY: {{tradeItem.crossreference}}</p>
                <div class="clear"></div>
                <p class="left">{{tradeItem.stoploss}}</p>
                <ul class="rating right">
                  <li><a class="star on"></a></li>
                  <li><a class="star on"></a></li>
                  <li><a class="star on"></a></li>
                  <li><a class="star off"></a></li>
                  <li><a class="star off"></a></li>
                </ul>
              </div>
            </li><!-- four_columns -->
          </ul><!-- callout_items -->
        </div><!-- wrapper_section -->
      </section><!-- section -->
  </ion-content>
</ion-view>
