<ion-view title="TradeEdit">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <section class="section">
      <form>
               <div class="wrapper_section">
                  <div class="callout_items clearfix">
                     <div class="two_columns">
                        <div class="thumb clearfix">
                           <img class="image radius" src="screens/02.png">
                           <a href="#" class="main_add"></a>
                           <a href="#" class="main_delete"></a>
                        </div>
                     </div><!-- two_columns -->
                     <div class="two_columns">
                        <h3 class="title_gallery">Past Images</h3>
                        <ul class="thumbs_image">
                           <!-- 6 images max -->
                           <li class="four_columns radius">
                              <div class="thumb clearfix">
                                 <img class="image radius" src="screens/02.png">
                                 <a href="#" class="delete"></a>
                              </div>
                           </li>
                        </ul>
                        <div class="clear"></div>
                        <div class="block_rating clearfix">
                           <div class="two_columns">
                              <h3 class="title">Rating</h3>
                              <ul class="rating">
                                 <li><a class="star on"></a></li>
                                 <li><a class="star on"></a></li>
                                 <li><a class="star on"></a></li>
                                 <li><a class="star off"></a></li>
                                 <li><a class="star off"></a></li>
                              </ul>
                           </div><!-- two_columns -->
                           <div class="two_columns">
                              <h3 class="title">Last Update</h3>
                              <p class="red_date">2014/03/25 - 11.00 am</p>
                           </div><!-- two_columns -->
                        </div>
                     </div><!-- two_columns -->
                  </div><!-- callout_items -->
                  <div class="clear"></div>
                  <div class="collout_items clearfix">
                     <div class="two_columns">
                        <label class="label">Cross</label><br>
                        <select class="select_form" name="select">
                           <option selected value="volvo">Choose</option>
                           <option value="volvo">A</option>
                           <option value="saab">B</option>
                           <option value="opel">C</option>
                           <option value="audi">D</option>
                        </select>
                        <div class="clear"></div>
                        <label class="label">Technical Patterns</label><br>
                        <select class="select_form" name="select">
                           <option selected value="volvo">Choose</option>
                           <option value="volvo">A</option>
                           <option value="saab">B</option>
                           <option value="opel">C</option>
                           <option value="audi">D</option>
                        </select>
                     </div><!-- two_columns -->
                     <div class="two_columns">
                        <label class="label">Time Frame</label><br>
                        <select class="select_form" name="select">
                           <option selected value="volvo">Choose</option>
                           <option value="volvo">A</option>
                           <option value="saab">B</option>
                           <option value="opel">C</option>
                           <option value="audi">D</option>
                        </select>
                        <div class="clear"></div>
                        <label class="label">Operation Type</label><br>
                        <select class="select_form" name="select">
                           <option selected value="volvo">Choose</option>
                           <option value="volvo">A</option>
                           <option value="saab">B</option>
                           <option value="opel">C</option>
                           <option value="audi">D</option>
                        </select>
                     </div><!-- two_columns -->
                  </div><!-- collout_items -->
                  <div class="space"></div>
                  <div class="collout_items clearfix">
                     <div class="two_columns">
                        <label class="label">Target Profit #1</label><br>
                        <select class="select_form" name="select">
                           <option selected value="volvo">Choose</option>
                           <option value="volvo">A</option>
                           <option value="saab">B</option>
                           <option value="opel">C</option>
                           <option value="audi">D</option>
                        </select>
                     </div><!-- two_columns -->
                     <div class="two_columns">
                        <label class="label">Target Profit #2</label><br>
                        <select class="select_form" name="select">
                           <option selected value="volvo">Choose</option>
                           <option value="volvo">A</option>
                           <option value="saab">B</option>
                           <option value="opel">C</option>
                           <option value="audi">D</option>
                        </select>
                     </div><!-- two_columns -->
                  </div><!-- collout_items -->
                  <div class="space"></div>
                  <div class="collout_items clearfix">
                     <div class="two_columns">
                        <label class="label">Volume</label><br>
                        <select class="select_form" name="select">
                           <option selected value="volvo">Choose</option>
                           <option value="volvo">A</option>
                           <option value="saab">B</option>
                           <option value="opel">C</option>
                           <option value="audi">D</option>
                        </select>
                        <div class="clear"></div>
                        <label class="label">Entry Price</label><br>
                        <select class="select_form" name="select">
                           <option selected value="volvo">Choose</option>
                           <option value="volvo">A</option>
                           <option value="saab">B</option>
                           <option value="opel">C</option>
                           <option value="audi">D</option>
                        </select>
                     </div><!-- two_columns -->
                     <div class="two_columns">
                        <label class="label">Capital Risk</label><br>
                        <select class="select_form" name="select">
                           <option selected value="volvo">Choose</option>
                           <option value="volvo">A</option>
                           <option value="saab">B</option>
                           <option value="opel">C</option>
                           <option value="audi">D</option>
                        </select>
                        <div class="clear"></div>
                        <label class="label">Stop Loss</label><br>
                        <select class="select_form" name="select">
                           <option selected value="volvo">Choose</option>
                           <option value="volvo">A</option>
                           <option value="saab">B</option>
                           <option value="opel">C</option>
                           <option value="audi">D</option>
                        </select>
                     </div><!-- two_columns -->
                  </div><!-- collout_items -->
                  <div class="space"></div>
                  <div class="one_column clearfix">
                     <label class="label">Note</label><br>
                     <textarea class="textarea" rows="8" cols="50"></textarea>
                  </div>
                  <div class="space"></div>
                  <div class="callout_btns">
                     <a class="cancel_btn" href="#">Cancel</a>
                     <a class="save_btn" href="#">Save</a>
                  </div><!-- callout_btns -->
               </div><!-- wrapper_section -->
            </form>
    </section><!-- section -->
  </ion-content>
</ion-view>